<!-- Base template for rendering-->

<!DOCTYPE html>
<html>
    <head>
        <title>
            TwitOff! - {{ title }}        
        </title>

        <body>
            <h1> Lets TwitOff! </h1>
            <p> Twit Analysis </p>
            
            <form action="/users/create" method="POST">
                <label>Name:</label>
                <input type="text" name="name" placeholder="User XYZ" value="User XYZ">
        
                <label>Tweet:</label>
                <input type="text" name="tweet" placeholder="280 or less" value="">
        
                <button>Submit</button>
            </form>

            <ul>
                {% for user in users %}
                <li>{{ user.name }} </li>
                {% endfor %}
            </ul>
        </body>
    </head>

</html> 